# Ignore build directory
build

# Ignore cmake generated directories and files
CMakeCache.txt
CmakeFiles
cmake_install.cmake
compile_commands.json
install_manifest.txt
todo

# Ignore Doxygen directory
doxydoc

# Ignore todo directory
.todo

# Ignore any open files
*.swp

# Ignore mac OS files
.DS_Store
*.icloud
